// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  @include dark-bg("../img/team/team-compressed.png");
  // Shift the masthead down by the header size when the screen size triggers the compressed menu
  margin-top: 56px;
  @media (min-width: 992px) {
    margin-top: 0;
  }

  &:before {
    background-position: center top;
  }

  .intro-text {
    padding-top: 1px;
    padding-bottom: 20px;

    .intro-lead-in {
      font-size: 25px;
      font-style: bold;
      line-height: 50px;
      margin-bottom: 25px;
      @include subtitle-font;
    }

    .intro-heading {
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
      margin-top: 150px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    .intro-text {
      padding-top: 150px;
      padding-bottom: 200px;

      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
      }

      .intro-heading {
        font-size: 75px;
        line-height: 75px;
      }
    }
  }
}
