// Styling for the portfolio section
header.research {
  @include dark-bg(
    "https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9"
  );
}

@mixin top-border-radius($br) {
  border-radius: $br $br 0 0;
}

@mixin bot-border-radius($br) {
  border-radius: 0 0 $br $br;
}

#research {
  .research-item {
    right: 0;
    margin: 0 0 15px;
    .research-link {
      position: relative;
      display: block;
      max-width: 400px;
      height: 200px;
      margin: 0 auto;
      cursor: pointer;
      .research-hover {
        @include top-border-radius(5px);
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, 0.1);
        &:hover {
          opacity: 1;
        }
        .research-hover-content {
          @include top-border-radius(5px);
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
      img {
        @include top-border-radius(5px);
        object-fit: cover;
        width: 100%;
        height: 100%;
        &.quest {
          object-position: top;
        }
      }
    }
    .research-caption {
      @include bot-border-radius(5px);
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: $body-bg;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        @include subtitle-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media (min-width: 767px) {
  #research {
    .research-item {
      margin: 0 0 30px;
    }
  }
}

.scope {
  font-size: 1.2rem;
  padding-bottom: 0;
}
