// Styling for the navbar
#mainNav {
  background-color: $nav-bg-color;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }

  .navbar-brand {
    color: $primary;

    img {
      height: 1.75em;
      transition: all 0.3s;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      filter: brightness(85%);
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;

        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &.navbar-shrink .navbar-brand img {
    height: 1.15em;
  }
}

@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $nav-bg-color;
      border-bottom: 1px solid lighten($nav-bg-color, 10%);
    }
  }
}