$fallback-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

// Font Mixins
@mixin subtitle-font {
  font-family: "Ubuntu", $fallback-fonts;
}

@mixin body-font {
  font-family: "Ubuntu", $fallback-fonts;
}

@mixin heading-font {
  font-family: "Ubuntu", $fallback-fonts;
}

@mixin dark-bg($img-url) {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url($img-url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(50%);
  }
}
