// Overriding Bootstrap Colors
$body-bg: #222831;
$primary: #e84545;
$light: #393e46;
$body-color: #eeeeee;
$text-muted: darken($body-color, 35%);

// Personal variables
$timeline-border-color: $light;
$card-color: $light;
$social-color: lighten($primary, 6%);
$nav-bg-color: lighten($body-bg, 8%);

// Overriding location of fontawesome webfont path
$fa-font-path: "../vendor/fontawesome/webfonts";