// Overriding Bootstrap Colors
$body-bg: #121212;
$primary: #ff6768;
$light: lighten($body-bg, 8%);
$body-color: #f4f6f6;

// Personal variables
$timeline-border-color: $light;
$card-color: $light;
$social-color: lighten($primary, 6%);
$nav-bg-color: lighten($body-bg, 8%);

// Overriding location of fontawesome webfont path
$fa-font-path: "../vendor/fontawesome/webfonts";